{% extends 'base.html' %}

{% block content %}
  
  <div class="container mt-5">
    <!-- Jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
      <h1 class="display-4 fw-3 font-monspace fw-bold text-primary">Welcome to Your Todo App!</h1>
      <p class="lead text-success fw-bolder">Organize your tasks and boost your productivity with our simple and intuitive Todo app.</p>
      <hr class="my-4">
      <p>Get started by creating your first task today!</p>
      <a class="btn btn-primary btn-lg" href="/todos" role="button">Get Started</a>
    </div>

    <!-- Card Deck for featured content -->
    

    <!-- Call-to-action section -->
   
  <!-- Bootstrap JS scripts (Popper.js and Bootstrap JS) -->
  
{% endblock %}
